<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <title>Your App</title>
  <script type="text/javascript" src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=a5YEmK3ChaYVRotHh2vXxafaeYIBjNuP"></script>
</head>
<body>
  <div id="root"></div>
</body>

</html>